/* 
Example method:
    p {
        color: red;
    } 

Ruleset Terms:
    Selector — beginning of ruleset used to target element styled
    Declaration Block — code in-between (and including) curly braces ({ }) containing CSS declaration(s)
    Declaration — group name for property and value pair that applying style to selected element
    Property — first part of declaration signifying visual characteristic of the element to be modified
    Value — second part of declaration signifying value of the property 
*/

/* Below, a type selector is used: p, h1 */
p {
    color: green;
}

h1 {
    color: maroon;
}

/* Universal selector is * */
/* * {
    border: 1px solid red;
  } */

/* To select an HTML element by its class using CSS, a period (.) must be prepended to the class’s name
(Value of what class is set to. e.g <h1 class='title'>Top Vacation Spots</h1>*/
.title {
    color: teal;
}

/* can add multiple classes to HTML element’s class attribute: <h1 class='title uppercase'>Top Vacation Spots</h1> */
.uppercase{
    text-transform: uppercase;
}

/* To select an element’s ID with CSS, we prepend the id name with a number sign (#):
    <h1 class='title uppercase' id='article-title'>Top Vacation Spots</h1> */
#article-title{
    font-family: cursive;
}

/* Factors such as user interaction, site navigation, and position in the document tree can give elements different state with pseudo-class */
a:hover {
    color: darkorange;
} 
/* above code changes color of link if mouse hovers it */

/* Specificity is the order by which the browser decides which CSS styles will be displayed 
   Good practice to order using the lowest degree of specificity to highes. 
   IDs are the most specific > classes > type.*/

/* Can also chain elements (e.g type and class): */
h2.destination {
    font-family: Tahoma;
    }